body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

input[type="number"],
textarea {
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  transform: scale(2);
}

textarea {
  resize: vertical;
}

div {
  margin: 0 0 10px 0;
  padding: 0;
}

label {
  margin-bottom: 5px;
}

#result {
  display: flex;
}

#option {
  margin: 0 0 0 20px;
}